
.main_logo {
	width:95%;
	margin-left:37px;
}

.logo{
	background-color:black;
	height:320px;
	padding-top:170px;
	padding-left:545px;
	margin-top:14px;
	margin-left:-10px;
	margin-right:-10px;
}

.menu{
	font-size:130%;
	font-family:impact;
	width:400px;
	margin-top:-440px;
	margin-left:60px;
	word-spacing:10px;
}

.menu :hover {
	transition:0.3s linear;
}

a{
	text-decoration:none;
}

.menu2{
	font-size:180%;
	font-family:impact;
	width:600px;
	margin-top:330px;
	margin-left:460px;
	word-spacing:22px;
}

.menu2 a:hover{
	background:darkgray;
	color:black;
	transition: 0.3s linear;
}

.menu a:hover {
	color:darkgray;
}

.img-main {
	padding: 100px;
	height:970px;
}

.row {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	text-align:  center;
	padding-top: 50px;
	
}

.row2 {
	border:7px solid black;
}

.row3 {
	margin-top:30px;
	border:7px solid black;
}

a:hover img {
	 border: 7px solid dimgray;
}

.line {
	margin-top:50px;
}

.footer {
	font-family:Сomic Sans MS;
	text-align:center;
	font-size:130%;
	vertical-align:center;
	padding-top:30px;
	height:60px;
	color:black;
}

span {
	font-family:impact;
}

