
.logo{
	background-color:black;
	height:320px;
	padding-top:170px;
	padding-left:558px;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	outline:1px solid red;
}

.menu{
	font-size:120%;
	font-family:impact;
	outline:1px solid red;
	width:400px;
	margin-top:-450px;
	margin-left:60px;
	word-spacing:10px;
}

a{
	text-decoration:none;
}

.menu2{
	font-size:150%;
	font-family:impact;
	outline:1px solid red;
	width:600px;
	margin-top:340px;
	margin-left:540px;
	word-spacing:22px;
}

a:hover{
	background:white;
	color:black;
}

.img-main {
	padding: 80px;
}

.row {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	text-align:  center;
}
